.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.list-group-item {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

.classCorrecta {
    background-color: #198754;
    color: white;
}

.classIncorrecta {
    background-color: #dc3545;
    color: white;
}